
// layout for main container of page
#main > .container {
    inline-size: 100%;
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas: 
        "about"
        "guidelines"
        "contribute";
}

@media (min-width: 950px) {

    #about > .container, 
    #guidelines > .container, 
    #contribute > .container, 
    #contribute footer > .container {
        padding-block: 4rem 0;
        padding-inline:  2rem;
        background: var(--color-background);
    }


    #main > .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        // inset-inline-start: 100%;
        max-inline-size: 70rem;
        margin-inline: auto;
        padding: 3rem;
        position: relative;
        font-family: var(--font-body);
    }

    // left column
    #guidelines {
        grid-column: 1;
        grid-row: 2;
        margin-block-start: -10rem;
        
    }
    // right column
    #contribute {
        grid-column: 1 / -1;
        grid-row: 2;
        margin-block-start: 30rem;
    }
    // top right
    #about {
        grid-column: 2;
        grid-row: 1;
        position: relative;

        // turn into grid
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;

        & > .container {
            inline-size: 100%;
        }

        & > .container:nth-of-type(1) {
            grid-column: 1;
            justify-self: start;

            // make it cross the to left of centerline
            transform: translateX(calc(-100% - 3rem));
            margin-block-start: 2rem;
        }
        & > .container:nth-of-type(2) {
            grid-column: 1;
            justify-self: start;
            margin-block-start: -30rem;
        }
    }

    #main > .container {
        //divider line
        &::before {
        content: "";
        position: absolute;
        inset-inline-start: 50%;
        inset-block-start: 5rem;
        inset-block-end: 8rem;
        inline-size: 4px;
        background: var(--color-primary);
        opacity: 0.9;
        transform: translateX(-50%);
        }

        // #about image
        &::after {
            content: "";
            position: absolute;
            inline-size: clamp(300px, 30vw, 400px);
            block-size: clamp(300px, 30vw, 400px);

            inset-inline-start: 58%;
            inset-block-start: clamp(25rem, calc(40rem - 18vw), 40rem);

            transform: translateY(-50%);

            /* image source: canva (Pro content) 
            used under Canva Content License Agreement 
            https://www.canva.com/po.icies/content-license-agreement/
            modified and used as part of this project */
             
            background-image: url("./images/mountain.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top center;

            opacity: 0.7;
            pointer-events: none;
            z-index: 10;

            // fade edges
            -webkit-mask-image: 
                linear-gradient(to bottom, black 50%, rgba(0, 0, 0, 0.059) 70%, transparent 100%),
                linear-gradient(to left, black 80%, transparent 100%),
                linear-gradient(to right, black 80%, transparent 100%);
            mask-image: 
                linear-gradient(to bottom, black 50%, rgba(0, 0, 0, 0.059) 70%, transparent 100%),
                linear-gradient(to left, black 80%, transparent 100%),
                linear-gradient(to right, black 80%, transparent 100%);

            -webkit-mask-composite: intersect;
            mask-composite: intersect;
            }

            > * {
            position: relative; 
            z-index: 1;
            }
    }
}