
#contribute {
  grid-area: contribute;
  position: relative;
  // z-index: -100;

  & > .container {
    margin-block-end: 3rem;
  }

  @media (min-width: 950px) {
    // reach across both columns
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    align-items: start;

    // keep main section on right
    & > .container {
      grid-column: 2;
    }

    // move footer to center both columns
    & > footer#files {
      grid-column: 1 / -1;
      margin-block-start: 3rem;
      justify-self: stretch;
      // background-color: transparent;
    }
  }
}

@media (min-width: 950px) {
  #contribute > .container:first-of-type {
    position: relative;
  }
  #contribute::after {
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: 1;

    inline-size: clamp(250px, 50vw, 600px);
    block-size: clamp(250px, 50vw, 600px);

    left: 50%;
    top: -27%;

    transform: translateY(-50%, -50%);

    /* image source: canva (Pro content) 
    used under Canva Content License Agreement 
    https://www.canva.com/po.icies/content-license-agreement/
    modified and used as part of this project */
    background-image: url("./images/cabin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px;

    // fade edges
    -webkit-mask-image: radial-gradient(
      ellipse 30% 120% at center,
      black 45%,
      black 50%, 
      transparent 100%
    );
    mask-image: radial-gradient(
      ellipse 30% 120% at center,
      black 45%,
      black 50%, 
      transparent 100%
    );
  }
  #contribute > .container:nth-of-type(2) {
    position: relative;
  }

  #contribute::before {
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: 1;

    inline-size: clamp(300px, 35vw, 450px);
    block-size: clamp(300px, 35vw, 450px);

    left: 20%;
    top: 53%;

    transform: translate(-50%, -50%);

    /* image source: canva (Pro content) 
    used under Canva Content License Agreement 
    https://www.canva.com/po.icies/content-license-agreement/
    modified and used as part of this project */
    background-image: url("./images/pinecone.png");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
  }
}