
// layout for main container of page
#main > .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    grid-template-areas: 
        "about"
        "guidelines"
        "contribute";
}

@media (min-width: 950px) {
    #main {
        overflow-x: clip;
    }
    
    #main > .container {
        --main-pad: 5rem;
        --col-gap: 3rem;

        column-gap: var(--col-gap);
        padding: var(--main-pad);
        grid-template-columns: 1fr 1fr;

        background: linear-gradient(
            to right, 
            transparent calc(50% - 3px), 
            var(--color-primary) 50%,
            transparent calc(50% + 3px)
        );

        grid-template-areas: 
            "about       ."
            ".           guidelines"
            "contribute  .";
    }
}