
#contribute {
  grid-area: contribute;

  & > .container {
    margin-bottom: 3rem;
  }

  @media (min-width: 950px) {
    // reach across both columns
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    align-items: start;

    // keep main section on right
    & > .container {
      grid-column: 2;
    }

    // move footer to center both columns
    & > footer#files {
      grid-column: 1 / -1;
      margin-top: 3rem;
      justify-self: stretch;
      // background-color: transparent;
    }
  }
}

@media (min-width: 950px) {
  #contribute::after {
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: 1;

    width: 700px;
    height: 700px;

    left: 50%;
    top: -15%;

    transform: translateY(-50%);

    background-image: url("./images/cabin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;

    // fade edges
    -webkit-mask-image: radial-gradient(
      ellipse 35% 120% at center,
      black 45%,
      black 60%, 
      transparent 100%
    );
    mask-image: radial-gradient(
      ellipse 35% 120% at center,
      black 45%,
      black 60%, 
      transparent 100%
    );
  }
  #contribute::before {
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: 1;

    width: 500px;
    height: 500px;

    left: 5%;
    top: 53%;

    transform: translateY(-50%);

    background-image: url("./images/pinecone.png");
    background-repeat: no-repeat;
    background-size: 450px 450px;
    opacity: 0.7;
  }
}