
#contribute {
  grid-area: contribute;

  & > .container {
    margin-bottom: 3rem;
  }

  @media (min-width: 950px) {
    // reach across both columns
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    align-items: start;

    // keep main section on right
    & > .container {
      grid-column: 2;
    }

    // move footer to center both columns
    & > footer#files {
      grid-column: 1 / -1;
      margin-top: 3rem;
      justify-self: stretch;

    }
  }
}