
// #files are the "download CSS & download HTML" sections of the page

#files {
  display: grid;
  place-content: center;
  text-align: center;

  h3 {
    height: 0;
    opacity: 0;
  }

  .container {
    // one column for mobile
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-items: center; 

    width: 100%;
    max-width: 28rem;
    margin-inline: auto;

    padding: 3vmin 3vmin 2vmin 3vmin;
    outline: 4px dashed var(--color-secondary);
    background-color: var(--color-background);
    text-align: center;
    align-items: center;
  }
  .container a {
    border-radius: 50px;
  }
  .container a:hover {
    background-color: var(--color-accent);
    color: var(--color-secondary);
  }

  @media (min-width: 950px) {
    width: 100%;
    margin-left: 0;
    padding: 4rem 0;

    place-content: initial;
    justify-items: center;
    background-color: var(--color-background);
    z-index: 2;

    // two columns for desktop
    .container {
      margin-inline: auto;
      width: 100%;
      max-width: 40rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      // padding: 7vmin 3vmin 3vmin 3vmin;
    }

    .link-downloadcss {
      grid-column: 1;
      grid-row: 1;
    }
    .link-downloadhtml {
      grid-column: 2; 
      grid-row: 1;
    }
    .link-codepen {
      grid-column: 1 / -1;
      grid-row: 2;
      justify-self: center;
    }
  }
}