
@use "../composition/logomark" as *;

header {
  --logomark-height: 3em;
  --logomark-padding: 0 1em;

  display: grid;
  place-items: center;
  padding: 3rem 0 0 0;
  color: var(--color-primary);
  text-align: center;
  transition: padding 250ms ease;
  h1 {
    @include logomark();
    cursor: pointer;

    &::after {
      content: " ▾";
      font-size: 0.8rem;
    }
  }

  h2 {
    max-width: 30ch;
  }

  // hide everything in header except h1
  .container > :not(h1){
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    padding: 0;
    margin: 0;
    transition: max-height 250ms ease, opacity 200ms ease, padding 250ms ease;
    font-size: 0.7rem;
    color: var(--color-gray);
    margin-inline: auto;
  }

  // open
  &:has(h1:hover),
  &:has(h1:focus-visible) {
    padding: 2rem 2rem;

    // reveal hidden header on hover or keyboard focus
    .container > :not(h1) {
      max-height: 500px;
      opacity: 1;
      padding: 2rem 0 0; // padding added when open
    }

    // when header is open, change arrow direction
    h1::after {
      content: " ▴";
    }
  }
}
// shared stacking rules
header, 
nav {
  position: relative;
  z-index: 1;
}

@media (min-width: 700px) {
  header {
    h1::after {
      content: none;
    }
  }
}