.features {
  position: relative;
  inline-size: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  border: none;

  li {
    position: relative;
    border: none;

    &::before {
      content: "";
      position: absolute;
      inline-size: 120px;
      block-size: 120px;

      inset-inline-start: 50%;
      inset-block-start: 72%;

      background: url("./images/snowflake-4.svg") center / contain no-repeat;

      pointer-events: none;
      z-index: 0;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.9);
      transition: opacity 180ms ease, transform 180s ease;
    }

    &:hover::before {
      opacity: 0.3;
      animation: floating-flakes 3s ease-in-out infinite;
      border: none;
    }

    > span {
      position: relative;
      display: grid;
      place-content: center;
      padding: 0.5em;
      grid-gap: 0.5rem;
      border: none;
      line-height: 1.1;
      z-index: 1;

      a {
        color: inherit;
        font-size: 1.3rem;
        font-weight: var(--font-weight-strong);
        text-decoration: none;
        position: relative;

        display: inline-block;
        transition: transform 0.25s ease;
        transform: translateY(-0.25em) scale(1.05);

        &:hover {
          transform: translateY(-4px);
        }
      }
    }
  }
  @keyframes floating-flakes {
    0% {
      transform: translate(-50%, -50%) translateX(-80px) translateY(20px) scale(0.7) rotate(0deg);
      opacity: 0.09;
    }
    50% {
      transform: translate(-50%, -60%) translateX(0px) translateY(-30px) scale(1.15) rotate(-18deg);
      opacity: 0.3;
    }
    100% {
      transform: translate(-50%, -50%) translateX(80px) translateY(20px) scale(0.9) rotate(0deg);
      opacity: 0.09;
    }
  }
}

#styles {
  margin: 5vh 0 20vh;
  text-align: center;
  color: var(--color-light);

  h2 {
    color: var(--color-light);
  }

  a:hover {
    color: var(--color-light);
    background-color: transparent;
    border-inline-end: 1px solid #d7d9da;
    border-block-end: 1px solid #d7d9da;
  }
}

#styles .features,
.features.patterned {
  li {
    @media (min-width: 515px) and (max-width: 765px) {
      // two columns
      &:nth-last-child(1):nth-child(odd) {
        grid-column: span 2;
      }
    }
  }
}